.card {
    z-index: 1;
    width: 30rem;
    height: 100vh;

    border: none;
    margin: 0;
    padding: 10rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-self: center;

    background: rgba(0, 0, 0, 0.6);
    color: white;
}

.card-wrapper {
    justify-content: center;
    align-self: center;
    align-content: center;


    /*do not write padding-left and margin-left.
    because I let this page sorted evrything without card image.
    why you gonna try the same shit again?
    plz dont do the same shit a few minutes before me.*/
}

.card-image {
    width: 20rem;

    justify-content: center;
    align-self: center;

}

.card-image > img {
    width: inherit;
}

.card-icons {
    margin-top: 0.5rem;
    margin-left: 8px;
    display: flex;
}

.card-icons-wrapper > span {
    margin-right: 0.5rem;
}

.card-icons__more {
    margin-left: auto;
    margin-right: 0.5rem;
}

.card-user-info {
    margin-left: 0.5rem;
    padding: 0.5rem 0rem;

    display: flex;
    align-items: center;
}

.card-user-info__img {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
}

.card-user-info__id {
    margin-left: 8px;
    font-size: 0.8rem;
    font-weight: bold;
}

.card-user-content {
    margin-left: 8px;
    font-size: 0.8rem
}

.card-user-content__text {
    margin: 0px;
    text-overflow: ellipsis;
}

.card-comments {
    margin-left: 0.5rem;
    padding: 0.5rem 0rem;
    font-size: 0.8rem;
}

.card-comments__id {
    font-weight: bold;
}

.card-comments__comment {
    padding-left: 0.5rem;
}

.profile-wrapper {
    z-index: auto;
    max-width: 30rem;
    min-height: 100vh;
    background-color: black;
    color: white;
}

.profile-header {
    display: flex;
    margin: 12px;
}

.arrow-back {
    margin-right: 8px;
    text-decoration: none;
    color: inherit;
}

.arrow-back:hover {
    text-decoration: none;
    color: inherit;
}

.profile-header__upload {
    margin-left: auto;
}

.profile-header__setting {
    margin-left: 12px;
}

.profile-info {
    display: flex;
    margin: 12px;
}

.profile-info__img {
    margin: 5px;
    width: 5rem;
    height: 5rem;
    justify-content: center;
    align-self: center;
}

.profile-info__img > img {
    width: inherit;
    border-radius: 50%;
}

.profile-info-detail {
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.profile-info__numbers {
    width: 22rem;
    display: flex;
    text-align: center;
    align-self: center;
    /*justify-content: space-between;*/
}

.profile-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 38px;
}

.profile-content__username {
    font-weight: bold;
}

.profile-content__explaination {
    font-weight: lighter;
    font-size: 0.8rem;
}

.numbers-box {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.profile-postings-wrapper {
    display: flex;
}

.profile-postings {
    flex: 1;
    justify-content: center;
    align-self: center;
}

.profile-postings__child {
    flex: 1;
    min-height: 160px;
    background-color: darkgrey;
}

.profile-postings__child > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-postings__child > img:hover {
    opacity: 0.5;
    transition: all 0.3s;
}
